:javascript
  analytics.page('Explore - Occupations');

= render 'shared/explore/header'
-# Nav bar
-# Header
-# Main: Children
-# Side-bar: popular industries, new requests, new solutions
:css
  .container-overflow {
   -webkit-column-count: 2;
      -moz-column-count: 2;
           column-count: 2;

   -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
           column-gap: 20px;
  }

%div{class: "flex flex-wrap justify-center pb-10"}
  %div{class: "px-4 lg:px-0 mt-4 max-w-screen-lg w-full text-2xl font-bold tracking-wide"}
    Explore by Occupations
  -# = form_with model: @suggested_community, method: :post, local: true, html: {class: "px-4 lg:px-0 mt-2 max-w-screen-lg flex w-full items-center"} do |f|
  -#   = f.hidden_field "community_type", value: "Occupation"
  -#   Suggest a new occupation:
  -#   = f.text_field :community, placeholder: "New occupation", class: "ml-4 block text-sm leading-none text-gray-900 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 hover:border-indigo-300 hover:ring hover:ring-indigo-200 hover:ring-opacity-50"
  -#   = f.submit "Suggest", class: "text-sm flex-shrink-0 ml-2 py-1.5 px-2.5 bg-primary text-white rounded cursor-pointer hover:bg-opacity-90"
  -# %div{c: "max-w-screen-lg w-full text-gray-700 tracking-wider"}
  -#   - letter = (params[:type] == "IndustryCategory" ? 'i' : 'o')
  -#   = "#{letter}/#{@category.slug}"
  -# %div{class: "mt-4 max-w-screen-lg w-full text-base flex items-center"}
  -#   %div{class: "font-source font-bold text-primary text-lg"}
  -#     solved
  -#   %div{class: "ml-1 text-base"}
  -#     uses the International Standard Classification of Occupations (ISCO) to categorise
  -#     industries. There are four levels of classification,
  -# %div{class: "text-base max-w-screen-lg w-full"}
  -#   and solutions and requests are posted to the fourth level.
  %div{class: "px-4 lg:px-0 mt-8 max-w-screen-lg w-full relative flex"}
    -# %div{class: "w-1/2 flex-shrink-0 flex flex-wrap"}
    #container
      = render "occupation_categories/expand_group", group: @occupation_categories.first
    -# %div{class: "w-full font-sans mr-20"}
    -#   = render "occupation_categories/expand_group", group: @occupation_categories.first

:javascript
  var container_elem = document.getElementById("container");
  var height = container_elem.scrollHeight;
  // overflow into second column
  if (height > window.innerHeight) {
    container_elem.classList.add("container-overflow")
  }


