%h1 Listing occupations

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @occupations.each do |occupation|
      %tr
        %td= link_to 'Show', occupation
        %td= link_to 'Edit', edit_occupation_path(occupation)
        %td= link_to 'Destroy', occupation, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Occupation', new_occupation_path
