= render 'shared/niches/header', niche: @niche
- cache(@niche) do
  %div{class: "mt-10 flex justify-center pb-10"}
    %div{class: "max-w-screen-lg w-full relative flex text-lg font-medium"}
      Search within communities is not implemented yet 😱
