= render 'layouts/header', render_shadow: false

%div{c: "space-y-6 mt-8 grid grid-",
    smmd: "space-y-0 grid grid-cols-2 grid-rows-4 gap-4 mx-4"}
.container{class: "w-full flex justify-center"}
  -# #autocomplete.w-full
  #hits{class: "max-w-6xl w-full"}

  #empty-search
    Hello
  -# - industries = Industry.take(4)
  -# %div{class: "mt-4 mb-10 flex items-center bg-white space-x-4"}
  -#   - industries.each do |i|
  -#     %div{class: "border border-gray-900 w-1/4"}
  -#       = i.title
- content_for :head do
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.1.0/themes/algolia.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/selectize@0.12.6/dist/css/selectize.css">

-# <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.0/js/standalone/selectize.min.js" integrity="sha512-WIqmTz2P0Ei2a6Fu5gEe7rXo0cyvpLHGKcOWLkqmZSREr8AjblAQSFYt+T/dgYyPz4+alSHpLS0XkezN4VpsLg==" crossorigin="anonymous"></script>
-# <script src="https://cdn.jsdelivr.net/npm/selectize@0.12.6/dist/js/standalone/selectize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js"></script>

-# :javascript
-#   const searchClient = algoliasearch(
-#     'U9L5TDQXIN',
-#     '1f741c451c7cb0ffe440766809f77cf5'
-#   );

-#   const search = instantsearch({
-#     searchClient,
-#     indexName: 'niches_development',
-#     urlSync: true
-#   });

-#   /*
-#   search.addWidget(
-#     instantsearch.widgets.searchBox({
-#       container: '#q',
-#       placeholder: 'Search for contacts',
-#       autofocus: false,
-#       poweredBy: true
-#     })
-#   );
-#   */

-#   search.addWidgets([
-#     instantsearch.widgets.searchBox({
-#       container: '#q',
-#       poweredBy: true
-#     }),
-#     instantsearch.widgets.configure({
-#       hitsPerPage: 10
-#     }),
-#     instantsearch.widgets.hits({
-#       container: '#hits',
-#       templates: {
-#         empty: 'No results',
-#         item: '<strong>Hit {{objectID}}</strong>: {{{_highlightResult.title.value}}}',
-#       },
-#     })
-#   ]);

-#   const suggestions = instantsearch({
-#     searchClient,
-#     indexName: 'niches_development',
-#     urlSync: true
-#   });

-#   suggestions.addWidgets([
-#     instantsearch.widgets.configure({
-#       hitsPerPage: 5
-#     })
-#   ]);

-#   search.start();
-#   suggestions.start();



:javascript

  const searchClient = algoliasearch(
    'U9L5TDQXIN',
    '1f741c451c7cb0ffe440766809f77cf5'
  );

  const search = instantsearch({
    searchClient,
    indexName: 'niches_development',
    urlSync: true,
    searchFunction(helper) {
      const container = document.querySelector('#hits');
      container.style.display = helper.state.query === '' ? 'none' : '';

      const empty_search = document.querySelector('#empty-search');
      empty_search.style.display = helper.state.query === '' ? '' : 'none';

      helper.search();
    }
  });

  search.addWidgets([
    instantsearch.widgets.configure({
      attributesToSnippet: ['description'],
    }),
    instantsearch.widgets.searchBox({
      container: '#searchbox',
      autofocus: true,
      placeholder: "Search for an indsutry or occupation"
    }),

    instantsearch.widgets.hits({
      container: '#hits',
      templates: {
        empty: 'No results have been found for {{ query }}',
        // item: '<strong>Hit {{objectID}}</strong>: {{{_highlightResult.title.value}}}',
        item: '<a href={{{url}}}>' +
                '<div class="flex flex-wrap">' +
                  '<div class="w-full text-xs text-black">' +
                    '{{{type}}}'+
                  '</div>' +
                  '<div class="w-full font-semibold text-black leading-tight text-sm">' +
                    '{{{_highlightResult.title.value}}}'+
                  '</div>' +
                  '<div class="w-full text-sm mt-1">' +
                    '{{#helpers.snippet}}{ "attribute": "description", "highlightedTagName": "mark" }{{/helpers.snippet}}' +
                  '</div>' +
                '</div>' +
              '</a>'
      },
    })
  ]);

  search.start();
