-# ---- MAIN START ----
-# = render 'shared/sidebar'
.container.mx-auto.p-8{"data-controller" => "slideover", "data-slideover-active-target" => "#slideover-target", "data-slideover-enter-timeout" => "300,300", "data-slideover-entering-class" => "", "data-slideover-invisible-class" => "-translate-x-full,opacity-0", "data-slideover-leave-timeout" => "300,0", "data-slideover-leaving-class" => "", "data-slideover-visible-class" => "translate-x-0,opacity-100"}
  / begin sidebar/slideover
  #sidebar-mobile
    .fixed.inset-0.flex.z-40.transition.ease-linear.duration-300.opacity-0.hidden{"data-target" => "slideover.overlay"}
      .fixed.inset-0
        .absolute.inset-0.bg-gray-600.opacity-75
      #slideover-target.relative.flex-1.flex.flex-col.max-w-xs.w-full.pt-5.pb-4.bg-gray-800.transition.ease-in-out.duration-300.transform.-translate-x-full.hidden{"data-target" => "slideover.menu"}
        .absolute.top-0.right-0.-mr-14.p-1
          %button.flex.items-center.justify-center.h-12.w-12.rounded-full.focus:outline-none.focus:bg-gray-600{"aria-label" => "Close sidebar", "data-action" => "slideover#_hide"}
            %svg.h-6.w-6.text-white{fill: "none", stroke: "currentColor", viewbox: "0 0 24 24"}
              %path{d: "M6 18L18 6M6 6l12 12", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
        .flex-shrink-0.flex.items-center.px-4
          %h1.text-white.text-2xl.font-bold Sidebar
        .mt-5.flex-1.h-0.overflow-y-auto
          %nav.px-2.space-y-1
      .flex-shrink-0.w-14
        / Dummy element to force sidebar to shrink to fit close icon

.my-12
  %h2.text-2xl.text-gray-800.font-semibold.mb-4 Slideovers
  %button.bg-blue-500.hover:bg-blue-700.text-white.font-bold.py-3.px-6.rounded{data: { action: "click->slideover#toggle click@window->slideover#hide" } }
    %span Open Slideover
