
%div{class: "mt-4 mb-6 px-4"}
  %div{class: "text-4xl font-bold"}
    Popular Solutions
  %div{class: "text-lg font-medium tracking-wide text-gray-700 mb-6"}
    Trending solutions from all communities

  - if @posts.today.any?
    %div{class: "mt-8 w-full font-semibold text-lg leading-none"}
      Today
    %div{class: "mt-6 pb-6 border-b-2 border-gray-300 w-full grid grid-cols-2 gap-x-2 gap-y-6 md:grid-cols-3 lg:grid-cols-4"}
      = render @posts.today
  - if @posts.past_week.any?
    %div{class: "mt-8 w-full font-semibold text-lg leading-none"}
      Past Week
    %div{class: "mt-6 pb-6 border-b-2 border-gray-300 w-full grid grid-cols-2 gap-x-2 gap-y-6 md:grid-cols-3 lg:grid-cols-4"}
      = render @posts.past_week
    -# %div{class: "flex items-center w-full"}
    -#   %div{class: "flex-1 relative"}
    -#     %div{class: "w-full absolute top-1/2 border-t-2 border-gray-300"}
    -#   %div{class: "flex-shrink-0 px-2 py-1 text-secondary font-medium mx-3 rounded-md flex items-center hover:bg-gray-200 cursor-pointer"}
    -#     Show more
    -#     %div{class: "ml-1"}
    -#       = svg_tag "chevron-down", class: "w-5 h-5"
    -#   %div{class: "flex-1 relative"}
    -#     %div{class: "w-full absolute top-1/2 border-t-2 border-gray-300"}

  - if @posts.past_month.any?
    %div{class: "mt-8 w-full font-semibold text-lg leading-none"}
      Past Month
    %div{class: "mt-6 w-full grid grid-cols-2 gap-x-2 gap-y-6 md:grid-cols-3 lg:grid-cols-4"}
      = render @posts.past_month

