= link_to remove_upvote_request_path(request), remote: true do
  %div{class: "text-white bg-primary uppercase py-4 font-medium flex items-center justify-center border border-gray-300 rounded-sm leading-none text-sm"}
    ▲
    %div{class: "ml-2"}
      - vote_count = upvote_count(request)
      = "upvoted#{vote_count > 0 ? " #{vote_count}" : ""}"

