@import "tailwindcss/base";
@import "tailwindcss/components";

// @import 'select2';
@import 'comments';

.ais-Snippet-highlighted {
  @apply text-xs;
}

.user-link {
  @apply border-b-3 border-secondary transition-all hover:bg-secondary hover:bg-white;
}

mark {
  @apply font-extrabold bg-transparent;
}

.ais-Hits {
  @apply w-full;
}

.ais-Hits-list {
  @apply w-full grid grid-cols-3 gap-4 mt-4;
}

.ais-Hits-item {
  @apply bg-white w-full mt-0 border border-gray-400 shadow-none hover:bg-blue-100 px-6 py-4;
}

.ais-SearchBox-form {
  @apply block relative flex items-center;
}

.ais-SearchBox-submit {
  @apply absolute inset-y-0 left-3 pl-4 flex items-center;
}

.ais-SearchBox-submitIcon {
  @apply h-4 w-4 text-gray-600 fill-current;
}

.ais-SearchBox-input {
  @apply block pl-9 pr-4 py-1 w-full border border-transparent placeholder-gray-600 bg-gray-200 focus:outline-none focus:bg-white focus:border-gray-300 text-gray-900 rounded-lg;
}

.ais-SearchBox-reset {
  @apply absolute inset-y-0 right-2 flex items-center pr-4;
}

// .ais-SearchBox-reset {
//   @apply appearance-none invisible;
// }

.ais-SearchBox-resetIcon {
  @apply h-2 w-2 text-gray-400 fill-current;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
    height: 0px;
  }
}

.two-lines-only {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 1.25;        /* fallback */
  max-height: 2.5;       /* fallback */
}

.eight-lines-only, .read-more {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8; /* number of lines to show */
  line-height: 1.25;        /* fallback */
  max-height: 2.5;       /* fallback */
}

// .read-more {
//   /* "transparent" only works here because == rgba(0,0,0,0) */
//   background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 1));

//   position: relative;
//   top: 0;
//   left: 0;
//   width: 100%;
//   text-align: left;
//   vertical-align: text-top;
//   z-index: 1;
// }

.read-more {
  position: relative;
}

.read-more::before {
  // background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 1));
  background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 70%, #fff 100%);
  background-image: -o-linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 70%, #fff 100%);
  background-image: -moz-linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 70%, #fff 100%);
  background-image: -webkit-linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 70%, #fff 100%);
  background-image: -ms-linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 70%, #fff 100%);
  content: "\00a0";
  height: 96%;
  position: absolute;
  width: 100%;
  margin: 40px 0px 0px;
}

b {
  font-weight: 500;
}

 .commontator {
  *:not(input):not(textarea) {
    margin: 0;
    border: none;
    padding: 0;
  }

  .commontator-hidden {
    display: none;
  }

  .header {
    display: block;

    overflow: hidden;
  }

  .actions {
    float: right;

    margin-left: 10px;
  }

  .status {
    font-size: 120%;
    font-weight: bold;
    font-style: normal;
  }

  .comment-list {
    background-color: #FFF;
  }

  .children {
    padding-left: 15px;
  }

  /* Modified from: https://www.strangerstudios.com/sandbox/pagination/diggstyle.php */
  .page-entries-info, .will-paginate {
  	margin: 10px 0;
  }

  .pagination {
    a {
    	margin-right: 4px;
    	padding: 2px 5px 2px 5px;
    	border: 1px solid #999;

    	color: #666;
    	text-decoration: none;

      &:hover, &:active {
        border: 1px solid #555;

        color: #000;
      }
    }

    em {
    	margin-right: 4px;
      border: 1px solid #555;
    	padding: 2px 5px 2px 5px;

      background-color: #555;

      font-weight: bold;
      color: #FFF;
    }


    .name {
    	margin: 2px 9px 2px 0;
    }

    .disabled {
    	margin-right: 4px;
      border: 1px solid #EEE;
      padding: 2px 5px 2px 5px;

      color: #DDD;
    }
  }

  .mentions {
    left: -8px;
    top: -8px;

    font-family: monospace;
    font-size: 13.3333px;
  }

  .field textarea {
    width: 100%;

    padding: 0;

    overflow: auto;
  }

  .submit {
    margin: 10px 0;
  }
}


@import "tailwindcss/utilities";
