%div{class: "flex w-full items-center mt-3"}
  %input{type: "text",
        class: "block text-gray-900 w-full text-sm rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50",
        hover: "border-indigo-300 ring ring-indigo-200 ring-opacity-50",
        placeholder: "Video of the solution"}
  = f.hidden_field :_destroy
  = link_to 'Remove', 'javascript:;', class: 'remove_url bg-red-600 p-2 rounded-lg shadow-xs ml-2 text-white font-bold'
