!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PhApp
    = render 'layouts/rails_default'
    = render 'layouts/shim'
    -# = csrf_meta_tags
    -# = csp_meta_tag


  %body
    = yield
