!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %link{href: "https://fonts.googleapis.com/css?family=Source+Sans+Pro:900,800,700,600,500,400", rel: "stylesheet"}
    %title PhApp
    = render 'layouts/rails_default'
    = render 'layouts/shim'
    = yield :head
  %body
    #app{class: "min-h-screen bg-gray-fb bg-opacity-80 antialiased"}
      = yield
